
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'manager/style.css' %}" />

<h1>SWGOH Guild Manager / {{ guild.name }}</h1>
{% for guild in guilds %}
  <h2>{{ guild.name }}</h2>
  <p><a href="{{ guild.url }}" target="_blank" rel="noopener noreferrer">Смотреть на SWGOH.GG</a></p>
  <p><a href="{% url 'players' guild.guild_id %}">Список игроков</a></p>
  <p><a href="{% url 'rancor' guild.guild_id %}">Готовность РХана</a></p>
  <hr>
{% endfor %}

<p><a href="{% url 'squads' %}">Список отрядов на прокачку</a></p>
