{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'manager/style.css' %}" />

<h1>Готовность РХана / {{ guild.name }}</h1>
<p><a href="{% url 'players' %}">Список игроков</a></p>
<table border=1>
  <thead>
    <td>#</td>
    <td>Игрок</td>
    <td>Редкость</td>
    <td>Уровень</td>
    <td>Тир</td>
    <td>Мощь</td>
  </thead>
  <tbody>
    {% for r in rancor %}
    <tr class = "{% if r.rarity == 0 %}absent{% else %}nonuseful{% endif%}">
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'player' r.player.id %}">{{ r.player.player_name }}</a></td>
      <td>{{ r.rarity }}</td>
      <td>{{ r.level }}</td>
      <td>{{ r.gear_level }}</td>
      <td>{{ r.power }}</td>
    </tr>
    {% endfor %}
  </tbody>
    {% for r in norancor %}
    <tr class = "useful">
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'player' r.player.id %}">{{ r.player.player_name }}</a></td>
      <td>{{ r.rarity }}</td>
      <td>{{ r.level }}</td>
      <td>{{ r.gear_level }}</td>
      <td>{{ r.power }}</td>
    </tr>
    {% endfor %}
</table>
