.useful { background-color: lightgreen }
.nonuseful { background-color: #ffffb3 }
.absent { background-color: #ff8080 }

.centered td {
  text-align: center;
  vertical-align: middle;
}

img.icon {
  height: 64px;
  width: auto;
}